<!DOCTYPE html>
<html>
    <head>
        <title>BerryYield</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/index.css') }}">
       <meta name="viewport" content="width=device-width,initial-scale=1.0">
    </head>
    <body>
          <div id="lg">
            <header id="name">BerryYield</header>
              <nav id="nav">
                <ul>
                    <li><a href="#" class="active">Home</a></li>
                    <li><a href="/details" target="_blank">Predict</a></li>
                    <li><a href="#about">About</a></li>
                </ul>
              </nav>
              <h1 id="title">BlueBerry Yield Prediction</h1>
              <p id="quo">"Harvesting wisdom from the field to predict the future of blueberries."</p>
              <div id="predbut">
                  <div id="box">
                    <a href="/details" target="_blank">Predict BlueBerry Yeild</a>
                </div>
              </div>
           </div>
           <div id="about">
              <h1 id="head">About</h1>
               <p id="bb"><span id="b">BlueBerries</span> are small, round, and typically blue or purple fruits that are enjoyed worldwide for their delicious taste and numerous health benefits.
                Popular fruit crop that are grown in many regions around the world, including North America, Europe, and Asia. 
                These berries are known for their unique flavor and high antioxidant content, and they are used in a wide range of food products, 
                including jams, juices, and baked goods.
                <br><br>
                Blueberry farming is a delicate balance of science and art. Predicting blueberry yield is essential 
                    for effective farm management, ensuring that growers can optimize their resources and maximize their profits. 
                    Here, we delve into the factors influencing blueberry yield and the modern techniques used to predict it accurately.
                    Predicting blueberry yield is a multi-faceted approach combining traditional knowledge with cutting-edge technology.
                     By understanding and leveraging these factors, blueberry farmers can improve their yield predictions, optimize their 
                     farming practices, and ultimately enhance their harvests.
                     <br><br>
                     Blueberry yield prediction is a critical aspect of modern agriculture, helping farmers and stakeholders make informed decisions to optimize production, manage resources efficiently, and maximize profits. 
                     Here's a comprehensive overview of blueberry yield prediction:
                     Blueberry yield prediction involves using various data sources and analytical methods to forecast the quantity of blueberries that will be harvested in a given season. Accurate yield prediction can significantly enhance the efficiency of blueberry farming by enabling better planning and resource allocation.
                </p>
           </div>
    </body>
</html>